.container-fluid{
    background:#F8F9FA;
}
.slider-heading {
    margin-bottom: 216px;
}
.slider-sec1{
    height: 300px !important;
    
}
.height{
    height: 795px !important;
}
.blog-sec{
    height: 700px;
}
.page-no-sec {
    margin: 14px 526px;
}
.form-form{
    height: 750px;
}
.formrow{
    background-color: rgb(193, 105, 251);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px .5px blueviolet;
}
.signup-btn{
    transition: .5;
}
.signup-btn:hover{
    color: chartreuse !important;
    background-color: rgb(11, 5, 68);
}
.card{
    transition: .3s;
    
    
}
.card:hover{
    transform: scaleY(1,1);
    background-color: rgb(255, 245, 200);

}
.first-footer ul{
    list-style: none;
}
.first-footer ul li{
    display: inline-block;
    font-size: 50px;
    color: cornflowerblue;
}
.first-footer ul li a{
    
    
}
.first-footer ul li a i{
    font-size: 50px;
    padding: 10px;
    
}