.container-fluid{
    background:#F8F9FA;
}
.slider-heading {
    margin-bottom: 216px;
}
.slider-sec{
    height: 600px !important;
    
}
.height{
    height: 600px !important;
}
.blog-sec{
    height: 700px;
}
.page-no-sec {
    margin: 14px 526px;
}